.contest__title {
  font-size: 14px;
  color: black;
  width: 273px;
  text-align: center;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 18px;
  line-height: 30px;

  &--hidden {
    visibility: hidden;
  }
}

.contest__fieldset {
  border: 0;
  position: relative;
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
}

.contest__name {
  padding-top: 2px;
  padding-bottom: 44px;
}

.contest__name-list {

}

.contest__name-item {
  width: 276px;
  margin: 0 auto;
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contest__name-label {
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
  line-height: 1;
  margin-left: 21px;
}

.contest__name-input {
  display: flex;
  justify-content: flex-start;
  width: 280px;
  height: 63px;
  margin-top: 13px;
  line-height: 0;

  &::placeholder {
    font-size: 18px;
    text-align: left;
    padding-left: 18px;
    color: $dark;
  }
}

// Achievements

.contest__achievements {
  background-color: #f2f2f2;
  padding-top: 115px;
  padding-bottom: 42px;
}

.contest__achievements-label {
  font-size: 18px;
  font-weight: normal;
  color: #283645;
  line-height: 1.67;
  text-align: left;
  display: block;
}

.contest__achievements-list {
  margin: 0 auto;
  width: 276px;
}

.contest__achievements-item {
  min-height: 35px;
  margin-bottom: 47px;

  &:last-child {
    margin-bottom: 0;
  }
}

// Contacts

.contest__contacts {
  padding-top: 31px;
  padding-bottom: 44px;
}

.contest__contacts-legend {
  display: none;
}

.contest__contacts-list {
  width: 280px;
  margin: 0 auto;
}

.contest__contacts-item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contest__contacts-label {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: left;
  text-transform: uppercase;
  color: #d22856;
  display: block;
  padding-bottom: 5px;
}

.contest__contacts-input {
  display: block;
  width: 280px;
  height: 63px;
  margin: 0 auto;

  &::placeholder {
    font-size: 18px;
    text-align: left;
    padding-left: 18px;
    color: $dark;
  }
}

// App

.contest__app {
  background-color: #f2f2f2;
  padding-top: 115px;
}

.contest__app-list {
  width: 276px;
  margin: 0 auto;
}
.contest__app-item {
  height: 36px;
  margin-bottom: 39px;
}

.contest__app-label {
  font-size: 18px;
  font-weight: normal;
  color: #283645;
  line-height: 1.67;
  text-align: left;
  display: block;
}

// Comment

.contest__comment {
  padding-top: 71px;
  padding-bottom: 46px;
}

.contest__comment-text {
  width: 280px;
  height: 202px;
  padding-top: 15px;
  padding-left: 17px;
  margin: 0 auto;
  display: block;
}

// Submit

.contest__submit {
  padding-bottom: 16px; 
}

.contest__submit-button {
  display: block;
  width: 280px;
  height: 63px;
  margin: 0 auto;
  margin-bottom: 34px;
  background-color: #2aab6d;
  border: 0;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
}

.contest__submit-required {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  color: #283645;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;

  &--star {
    color: $pink;
  }
}
// Радио кнопка

.contest__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.contest__radio + label {
  position: relative;
  padding: 0 0 0 68px;
  cursor: pointer;
}

.contest__radio + label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  width: 39px;
  height: 39px;
  background: white;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contest__radio + label::after {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  width: 39px;
  height: 39px;
  background: white;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contest__radio:checked + label::after {
  background: url("../img/icon-map-marker.svg") no-repeat center;
}

// Чекбокс кнопка

.contest__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  // margin: 20px;
}

.contest__checkbox + label {
  position: relative;
  padding: 0 0 0 68px;
  cursor: pointer;
}


.contest__checkbox + label::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  background: white;
}

.contest__checkbox + label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}

.contest__checkbox:checked + label::after {
  background: url("../img/icon-yes.svg") no-repeat center;
}

.contest__legend {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  margin: 0 auto;
  width: 225px;

  &--inside {
    position: absolute;
    content: "";
    top: 37px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.input {
  color: #283645;
  line-height: 2.14;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &:hover {
    border: 2px solid #283645;
  }

  &:focus {
    border: 2px solid #d22856;
    outline: none;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.contest__comment-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #283645;
  resize: none;
}

@media(min-width: $tablet-width) {
  .contest__fieldset--small-border {
    border: 2px solid #e5e5e5;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .contest__legend {
    position: relative;
    width: auto;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    height: 10px;
    background: white;
    top: 0;
  }

  .contest__title {
    width: 500px;
    margin-top: 92px;
    margin-bottom: 0;
    font-size: 18px;

    &--hidden {
      visibility: visible;
      margin: 0 auto;
    }
  }
  
  .contest__form {
    display: flex;
    flex-direction: column;
  }

  // Name

  .contest__name {
    margin-top: 70px;
    padding-right: 20px;
    padding-bottom: 58px;
    padding-left: 20px;
    order: 1;
  }
  
  .contest__name-item {
    display: flex;
    align-items: center;
    width: 620px;
    margin-bottom: 52px;
  }

  .contest__name-label {
    display: inline;
    margin: 0;
    margin-right: 22px;
  }

  .contest__name-input {
    margin: 0;
    // width: 521px;
    flex-grow: 1;
  }

  // App

  .contest__app {
    order: 2;
    background: white;
    padding-top: 49px;
    padding-left: 57px;
    padding-bottom: 52px;
  }

  .contest__radio + label {
    padding-left: 60px;
  }

  .contest__app-list {
    margin: 0;
  }

  .contest__app-item:last-child {
    margin-bottom: 0; 
  }

// Contacts

  .contest__contacts {
    order: 3;
    padding-top: 41px;
    padding-bottom: 19px;
  } 

  .contest__contacts-legend {
    display: block;
    top: -4px;
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .contest__contacts-list {
    margin: 0 auto;
    width: auto;
  }
  
  .contest__contacts-item {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 62px;
      height: 62px;
      background-size: 20px 19px;
      background: #e5e5e5 url("../img/icon-phone.svg") no-repeat center;
      z-index: 10;
    }
  }

  .contest__contacts-label {
    order: 2;
    padding-left: 20px;
    width: 300px;
  }

  .contest__contacts-input {
    width: 500px;
    margin: 0;
    margin-bottom: 10px;
    order: 1;
  }
// Achievements

  .contest__achievements {
    order: 4;
    background-color: white;
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom: 44px;
  }

  .contest__checkbox + label {
    padding-left: 60px;
  }

  .contest__achievements-label {
    width: 500px;
  } 

  .contest__achievements-legend {
    top: 0;
  }

  .contest__achievements-list {
    margin: 0;
  }

  .contest__achievements-item {
  }

// Comment

  .contest__comment {
    order: 5;
    padding-top: 35px;
    padding-bottom: 50px;
    margin-bottom: 67px;
  }

  .contest__comment-text {
    width: 500px;
    height: 195px;
    padding-left: 20px;
  }

// Submit
  .contest__submit {
    order: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 47px;
    padding: 0;
    width: 620px;
  }

  .contest__submit-button {
    margin: 0;
    width: 300px;
  }

  .contest__submit-required {
    display: block;
  }
}
