.download__main-link {
	font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

.download {
  background-color: #283645;
}

.download__access {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  width: 230px;
}
