.download__main-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.download {
  background-color: #283645;
}

.download__access {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  width: 230px;
}

@media (max-width: $tablet-width) {
  .download {
    margin: 0 auto;
  }
}
