.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 69px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 24px;
  padding-left: 20px;
}

.main-nav__logo-link {
  display: block;
  width: 74px;
  height: 24px;
  background: url("../img/logo-pink-white-mobile.svg") no-repeat;
}

.main-nav__toggle {
  position: relative;
  display: block;
  align-self: flex-end;
  padding: 0;
  border: 0;
  width: 50px;
  height: 24px;
  color: #fff;
  background-color: transparent;
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  width: 50px;
  height: 4px;
  background-color: white;
  box-shadow: 0 10px 0 0 white,0 20px 0 0 white;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-wrapper {
    min-height: 105px;
    padding: 21px 20px;
    padding-bottom: 41px
  }

  .main-nav__logo-link {
    width: 147px;
    height: 40px;
    background: url("../img/logo-pink-white-tablet.svg") no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    outline: 1px solid red;
    // padding: 0;
  }

  .main-nav__logo-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    padding-left: 10px;
  }
  
  .main-nav__logo-link {
    width: 147px;
    height: 40px;
    background: url("../img/logo-pink-white-desktop.svg") no-repeat;
  }

  .main-nav__toggle {
    display: none;
  }
}
