.page-header {
  position: relative;
  background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
  background-color: $dark;
  background-size: 660px 460px;
  background-position: 50% 0;
  min-height: 600px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }

  &--photo {
    min-height: 239px;
    background-size: 750px 460px;
    background-position: 50% 25px;
  }

  &--form {
    min-height: 239px;
    background-size: 750px 460px;
    background-position: 50% 25px;
  }
}

.page-header__main-nav {
  margin: 0 auto;
}

.page-header__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 29px;
  margin: 0 auto;
  margin-top: 29px;

  &--photo {
    width: 225px;
  }

  &--form {
    width: 230px;
  }
}

@media (max-width: 660px) {
  .page-header {
    background-position: 50% 268px;

    &--photo {
      background-position: 50% 278px;
      padding-bottom: 83px;
    }

    &--form {
      background-position: 50% 278px;
      padding-bottom: 53px;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: 50% -10px;
    background-size: 1200px 739px;
    min-height: 400px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__title {
    width: 350px;
    margin-top: 67px;
    margin-bottom: 140px;
    font-size: 50px;
    font-weight: 300;
    line-height: 62px;

    &--form {
      width: 475px;
      margin-bottom: 77px;
    }
  }
}

@media (min-width: 660px) and (max-width: 960px) {
  .page-header {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: 50% 250px;

    &--photo {
      padding-bottom: 0;
    }

    &--form {
      padding-bottom: 0;
    }
  }
}

@media (max-width: $desktop-width) {
  .page-header__nav-wrapper{
    &--transparent {
      background-color: #283645;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-position: 50% 0;
    min-height: 854px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-position: 50% 0;
      background-size: cover;
    }

    &--photo {
      min-height: 394px;
      background-size: 2560px 853px;
    }

    &--form {
      min-height: 394px;
      background-size: 2560px 853px;
    }
  }

  .page-header__nav-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__title {
    width: 350px;
    margin-top: 67px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 300;
    line-height: 59px;

    &--form {
      width: 748px;
    }
  }
}
