.page-main__container {
  background: url("/Users/alexey/Documents/GitHub/1123999-pink-18/source/img/bg-back-mobile@1x.jpg");
}

.page-main__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}