.page-footer {
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer--index {
  display: none;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 172px;
}

.page-footer__logo {
  width: 147px;
  height: 40px;
  background: url("../img/logo-pink-blue-mobile.svg") no-repeat;
  margin-bottom: 40px;
}

.page-footer__copyright-logo {
  width: 27px;
  height: 34px;
  margin-left: 15px;
  background: url("../img/logo-htmlacademy.svg") no-repeat;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin-top: 41px;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 0;

    &--index {
      display: flex;
    }
  }

  .page-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 32px;
    width: 620px;
    margin: 0 auto;
  }

  .page-footer__logo {
    width: 147px;
    height: 40px;
    background: url("../img/logo-pink-blue-mobile.svg") no-repeat;
    margin: 0;
    margin-bottom: 11px; 
  }

  .page-footer__copyright {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .page-footer__copyright-logo {
    width: 27px;
    height: 34px;
    margin-left: 15px;
    background: url("../img/logo-htmlacademy.svg") no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    width: 940px;
  }

  .page-footer__logo {
    background: url("../img/logo-pink-blue-desktop.svg");
  }

  .page-footer__copyright {
    font-size: 18px;
  }
}
