.page-header {
  background-color: #283645;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  height: 66px;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
  }
  .page-header__toggle {
    display: none;
  }
  .main-nav__list {
    display: flex;
    border: 0
  }
}
