.price {
  background-color: #f2f2f2;
  padding-bottom: 48px;
}

.price-table {
  border-collapse: collapse;
  margin: 0 auto;
}

.price-table__header {
  background-color: #283645;
  border-left: solid 2px #e5e5e5;

  &--left-side {
    display: none;
  }

  &:first-of-type {
    border-left: none;
  }
}

.price-table__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
}

.price-table__price {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

.price-table__feature {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: left;
  text-transform: uppercase;
  color: #283645;

  &--left-side {
    display: none;
  }
}

.price-table__cell {
  background-color: white;
  border: solid 2px #e5e5e5;

  &--left-side {
    display: none;
  }
}

.price__toggles {
  margin: 0 auto;
  margin-top: 45px;
}

@media (min-width: $tablet-width) {
  .price-table__cell {
    background-color: white;
    border: solid 2px #e5e5e5;
    width: 156px;
    height: 49px;

    &--left-side {
      display: block;
      border-right: none;
      border-top: none;
      height: 50px;
    }

    &--first {
      border-top: 1px solid #e5e5e5;
    }
  }

  .price-table__header {
    width: 156px;
    height: 79px;

    &--left-side {
      display: block;
      height: 78px;
      opacity: 0;
    }
  }
}
