.reviews {
  background-color: #ffffff;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.67;
  color: black;
  width: 157px;
}

.reviews__text {
  width: 276px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
  color: #283645;
}