.social-buttons {
  display: flex;
}

.social-buttons__link {
  display: flex;
  width: 46px;
  height: 46px;

  &--twitter {
    background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
  }

  &--facebook {
    background: url("../img/icon-facebook.svg") no-repeat 50% 50%;
  }

  &--youtube {
    background: url("../img/icon-youtube.svg") no-repeat 50% 50%;
  }
}