// * { outline: 2px dotted red; }
// * * { outline: 2px dotted orange; }
// * * * { outline: 2px dotted gold; }
// * * * * { outline: 2px dotted green; }
// * * * * * { outline: 1px solid blue; }
// * * * * * * { outline: 1px solid aqua; }
// * * * * * * * { outline: 1px solid violet; }
// * * * * * * * * { outline: 1px solid brown; }
