$font: "Open Sans", "PT Sans", "Arial";
$font-color: white;
$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 1.5dpi;
$retina-dppx: 1.5dppx;
// Colors
$dark: #283645;
$pink: #d22856;
$light-gray: #f2f2f2;
